*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#090909;
    color:#ffffff;
    overflow-x:hidden;
}

a{
    text-decoration:none;
}

.navbar{
    position:sticky;
    top:0;
    width:100%;
    padding:20px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,.85);
    backdrop-filter:blur(18px);
    border-bottom:1px solid rgba(212,175,55,.25);
    z-index:999;
}

.logo{
    font-size:34px;
    font-weight:700;
    letter-spacing:4px;
    color:#D4AF37;
}

.nav-links{
    display:flex;
    gap:40px;
}

.nav-links a{
    color:white;
    font-size:17px;
    transition:.3s;
}

.nav-links a:hover{
    color:#D4AF37;
}

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;

    background:
    linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.8)),
    url("https://images.unsplash.com/photo-1594035910387-fea47794261f?q=80&w=1920&auto=format&fit=crop");

    background-size:cover;
    background-position:center;
}

.hero h1{
    font-size:72px;
    color:white;
    margin-bottom:20px;
    letter-spacing:2px;
}

.hero span{
    color:#D4AF37;
}

.hero p{
    width:700px;
    max-width:90%;
    color:#d5d5d5;
    line-height:1.8;
    font-size:20px;
    margin-bottom:40px;
}

.hero button{
    padding:18px 45px;
    background:#D4AF37;
    color:black;
    border:none;
    border-radius:50px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.hero button:hover{
    transform:translateY(-4px);
    box-shadow:0 0 30px rgba(212,175,55,.5);
}

section{
    padding:80px;
}

h1,h2,h3{
    font-weight:600;
}